.test-btn{
    padding: 1rem;
    width: 155px;
    border: none;
    border-bottom-style: solid;
}

.accordion-button:not(.collapsed) {
    color: black;
    font-weight: 600;
    }

    /* .accordion-item:not(.collapsed) {
background-color: #F5F5F5;
        
        } */

    /* .accordion-item:not(.collapsed) {
        background-color: black;
        } */
        .accordion-body {

            background-color: #F5F5F5;
        }

/* .accordion-item:first-of-type > .accordion-collapse {

    background-color: #F5F5F5;
    } */

    .map-js-height {
        height: 220px !important;
    }

    .btnStyles { 
        width: 90%;
        height: 3rem;
        border-radius: 2rem;
        background-color: #92A4B0;
        margin-top: 5rem;
    
    }