/* Styles for devices smaller than 420px */
@media (max-width: 420px) {
  .mobile-restricted-content {
    width: 100%;
    margin: 0 auto;
  }
}

/* Styles for devices larger than 420px */
@media (min-width: 421px) {
  .mobile-restricted-content {
    width: 100%;
    max-width: 430px; /* Restrict the width */
    margin: 0 auto; /* Center the content */
  }
}
