.toggle-container {
    display: flex;
    /* align-items: center; */
    place-content: center;
    /* justify-content: space-between; */
    margin-bottom: 20px;
}

.active-label {
    font-weight: 600;
    color: #000; /* Change this to the color you want when active */
  }
  
  .inactive-label {
    color: grey; /* Change this to the color you want when inactive */
  }