.modal-fullscreen {
    width: 75vw;
    max-width: 350px;
    height: 100%;
    float: right;
    margin: 0;
    margin-left: auto;
    }

    .accordion-button:not(.collapsed) {
        color: black;
        font-weight: 600;
        }

        /* .accordion-item:not(.collapsed) {
    background-color: #F5F5F5;
            
            } */

        /* .accordion-item:not(.collapsed) {
            background-color: black;
            } */
.accordion-body {

    background-color: #F5F5F5;
}

/* .accordion-item:first-of-type > .accordion-collapse {

    background-color: #F5F5F5;
} */
        

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .modal-slide-in {
    animation: slideInFromLeft 0.5s ease-out;
  }
  
  .modal-slide-out {
    animation: slideOutToLeft 0.5s ease-in;
  }
  
  @keyframes slideOutToLeft {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  

  .modal {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    top : 0rem !important;
  }

  .map-js-height {
    height: 220px !important;
}