
.chat-with-us {
    margin-top: 30px;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
}
.chat-with-us a {
    color: #1D0F8F;
; /* WhatsApp color */
    text-decoration: none;
    font-weight: bold;
}
