.btnStyless { 
    width: 90%;
    height: 3rem;
    border-radius: 2rem;
    background-color: #426770;
    margin-top: 5rem;

}

.btnStyles { 
    width: 90%;
    height: 3rem;
    border-radius: 2rem;
    background-color: #92A4B0;
    margin-top: 5rem;

}

